<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diegovaldesjr.tennistats">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:parentActivityName=".view.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>
        <activity android:name=".view.RegistrarActivity"
            android:parentActivityName=".view.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.CrearPartidoActivity"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity>
        <activity
            android:name=".view.PartidoActivity"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity>
        <activity
            android:name=".view.CrearJugadorActivity"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity"/>
        </activity>
        <activity
            android:name=".view.ContainerActivity"
            android:parentActivityName=".view.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.LoginActivity" />
        </activity>
        <activity
            android:name=".view.JugadorActivity"
            android:parentActivityName=".view.ContainerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ContainerActivity" />
        </activity>
        <activity
            android:name=".view.CanchaActivity"
            android:parentActivityName=".view.CrearPartidoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.CrearPartidoActivity" />
        </activity>
    </application>

</manifest>